Repository marco-compiler/marco-runtime, changes with the labels that .github/labeler.yml gives for each.
All labels: github, jenkins, docker, documentation, driver, solver, support-library

.github/labeler.yml:

github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

jenkins:
  - changed-files:
      - any-glob-to-any-file:
          - .jenkins/**
          - '**/*.Jenkinsfile'

docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.Dockerfile'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - '**/*.md'

driver:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Drivers/**
          - lib/Drivers/**

solver:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Solvers/**
          - lib/Solvers/**

support-library:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Support/**
          - lib/Support/**

Add Barrier implementation
  include/marco/Runtime/Multithreading/Barrier.h
  lib/Multithreading/Barrier.cpp
  lib/Multithreading/CMakeLists.txt
Labels: none

Move utility functions for MultidimensionalRange
  include/marco/Runtime/Modeling/MultidimensionalRange.h
  include/marco/Runtime/Solvers/SUNDIALS/Instance.h
  lib/Modeling/MultidimensionalRange.cpp
  lib/Solvers/SUNDIALS/Instance.cpp
Labels: solver

Add first draft of backward equations scheduling
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Use volatile semantics
  lib/Simulation/Scheduler.cpp
Labels: none

Reset current row state to zero before reuse
  lib/Simulation/Scheduler.cpp
Labels: none

Use volatile semantics when setting the readiness flag
  lib/Simulation/Scheduler.cpp
Labels: none

Use std::atomic instead of volatile chars.
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Change mapping of dependency kinds
  lib/Simulation/Scheduler.cpp
Labels: none

Reformat code
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Use uint32_t type for dependency kind
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Fix debug message formatting
  lib/Simulation/Scheduler.cpp
Labels: none

Check correct scheduling of backward equations
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Fix reset of current row state vector
  lib/Simulation/Scheduler.cpp
Labels: none

Reformat code
  lib/Simulation/Scheduler.cpp
Labels: none

Do not use reference for ReadyState compare and exchange function
  include/marco/Runtime/Simulation/Scheduler.h
Labels: none

Fix CLI argument description for scheduler policy
  lib/Simulation/CLI.cpp
Labels: none

Fix execution of backward equation
  lib/Simulation/Scheduler.cpp
Labels: none

Make ReadyState operators const
  include/marco/Runtime/Simulation/Scheduler.h
Labels: none

Use memset instead of resetting elements one by one
  lib/Simulation/Scheduler.cpp
Labels: none

Profile backward equations
  include/marco/Runtime/Simulation/Scheduler.h
  lib/Simulation/Scheduler.cpp
Labels: none

Use non-scalar ranges
  lib/Simulation/Scheduler.cpp
Labels: none

Add debug information
  lib/Solvers/IDA/Instance.cpp
  lib/Solvers/KINSOL/Instance.cpp
Labels: solver

Allow for zero seeds when calling partial derivative function
  lib/Solvers/KINSOL/Instance.cpp
Labels: solver

Add CMake option to use a sanitizer
  CMakeLists.txt
Labels: none

Initialize double buffer after parsing CLI arguments
  include/marco/Runtime/Printers/CSV/Printer.h
  lib/Printers/CSV/Printer.cpp
Labels: none

Improve alignment of Jacobian matrix dump in case of negative values
  lib/Solvers/IDA/Instance.cpp
  lib/Solvers/KINSOL/Instance.cpp
Labels: solver

Add shared support library for JIT compilation
  cmake/modules/AddMARCORuntime.cmake
  lib/Support/CMakeLists.txt
Labels: support-library

Zero-initialize memory pool buffers
  lib/Support/MemoryManagement.cpp
Labels: support-library

Update LLVM commit
  .jenkins/version_llvm.txt
Labels: jenkins

Add explicit template type to DynamicMemRefType instantiations
  lib/Support/BuiltInFunctions.cpp
  lib/Support/Print.cpp
  lib/Support/UtilityFunctions.cpp
Labels: support-library

Update CI action version
  .github/workflows/pr-clang-format.yml
Labels: github

Update CI action version
  .github/workflows/pr-clang-format.yml
Labels: github

Update LLVM commit
  .jenkins/version_llvm.txt
Labels: jenkins

better format of assert messages
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Refactored code for assert
  include/marco/Runtime/Support/BuiltInFunctions.h
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Added assert unit test
  unittest/BuiltInFunctionsTest.cpp
Labels: none

Added missing includes
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Add assert_void builtin function
  include/marco/Runtime/Support/BuiltInFunctions.h
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Add newline at the end of assert messages
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Refactor code for assert
  include/marco/Runtime/Support/BuiltInFunctions.h
  lib/Support/BuiltInFunctions.cpp
Labels: support-library
