Repository marco-compiler/marco-runtime, changes with the labels that .github/labeler.yml gives for each.
All labels: github, jenkins, docker, documentation, driver, solver, support-library

.github/labeler.yml:

github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

jenkins:
  - changed-files:
      - any-glob-to-any-file:
          - .jenkins/**
          - '**/*.Jenkinsfile'

docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.Dockerfile'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - '**/*.md'

driver:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Drivers/**
          - lib/Drivers/**

solver:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Solvers/**
          - lib/Solvers/**

support-library:
  - changed-files:
      - any-glob-to-any-file:
          - include/marco/Runtime/Support/**
          - lib/Support/**

Add unit tests for assert
  unittest/BuiltInFunctionsTest.cpp
Labels: none

Fix clang-format
  lib/Support/BuiltInFunctions.cpp
  unittest/BuiltInFunctionsTest.cpp
Labels: support-library

Remove unused include
  unittest/BuiltInFunctionsTest.cpp
Labels: none

Refactor assert_void function
  lib/Support/BuiltInFunctions.cpp
Labels: support-library

Add assert built-in function
  include/marco/Runtime/Support/BuiltInFunctions.h
  lib/Support/BuiltInFunctions.cpp
  unittest/BuiltInFunctionsTest.cpp
Labels: support-library

Add missing library dependencies in CMake configuration
  lib/Solvers/IDA/CMakeLists.txt
  lib/Solvers/KINSOL/CMakeLists.txt
Labels: solver

Update minimum CMake version
  CMakeLists.txt
Labels: none

Update LLVM commit
  .jenkins/version_llvm.txt
Labels: jenkins

Update version of googletest
  CMakeLists.txt
Labels: none

Update version of argh
  lib/CLI/CMakeLists.txt
Labels: none

Add missing header
  include/marco/Runtime/Printers/DoubleBuffer.h
Labels: none

Update LLVM version
  .jenkins/version_llvm.txt
Labels: jenkins

Add ASAN to Jenkins builds
  .jenkins/debian-12.Dockerfile
  .jenkins/dev-debian-12.Jenkinsfile
  .jenkins/dev-fedora-40.Jenkinsfile
  .jenkins/dev-ubuntu-22.04.Jenkinsfile
  .jenkins/fedora-40.Dockerfile
  .jenkins/install_llvm.sh
  .jenkins/ubuntu-22.04.Dockerfile
Labels: jenkins, docker

Add user to Debian Dockerfile
  .jenkins/debian-12.Dockerfile
Labels: jenkins, docker

Update LLVM commit
  .jenkins/version_llvm.txt
Labels: jenkins

Remove OpenMP from enabled projects
  .jenkins/install_llvm.sh
Labels: jenkins

Ignore .DS_Store files
  .gitignore
Labels: none

Optionally detect MPI library
  CMakeLists.txt
  cmake/modules/AddMARCORuntime.cmake
  cmake/modules/CMakeLists.txt
  cmake/modules/MARCORuntimeConfig.cmake.in
Labels: none

Initialize and deinitialize MPI environment
  lib/Simulation/CMakeLists.txt
  lib/Simulation/Runtime.cpp
Labels: none

Add MPI information to Simulation class
  include/marco/Runtime/Simulation/Runtime.h
  lib/Simulation/Runtime.cpp
Labels: none

Set default simulation parameters.
  include/marco/Runtime/Simulation/Runtime.h
  lib/Simulation/Runtime.cpp
Labels: none

Allow for experiment annotation to control the default simulation time parameters
  include/marco/Runtime/Simulation/Runtime.h
  lib/Simulation/Runtime.cpp
Labels: none

Update SUNDIALS version
  dependencies/sundials.sh
  include/marco/Runtime/Solvers/IDA/Instance.h
  include/marco/Runtime/Solvers/KINSOL/Instance.h
  lib/Solvers/IDA/Instance.cpp
  lib/Solvers/KINSOL/Instance.cpp
Labels: solver

Fix values not being updated at the last step of fixed-step simulations
  include/marco/Runtime/Solvers/IDA/Instance.h
  lib/Solvers/IDA/Instance.cpp
Labels: solver

Update version of SUNDIALS and related packages (#47)
  dependencies/sundials.sh
  include/marco/Runtime/Solvers/IDA/Instance.h
  include/marco/Runtime/Solvers/KINSOL/Instance.h
  lib/Solvers/IDA/Instance.cpp
  lib/Solvers/KINSOL/Instance.cpp
Labels: solver
